{% extends 'base.html' %}
 
{% load static %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'subreddits/css/post-view.css' %}">
{% endblock  %}


{% block content %}
<a href="{% url 'subreddits:subr_view' post.subr.name %}" class="subr-link"><h1>r/{{ post.subr.name }}</h1></a>

<div class="post-heading border-left border-dark bg-white">
  <h3 class="mt-2">"{{post.name}}"</h3>
  <p><small>authored by <b style="color: blue">{{post.created_by}}</b> on <b>{{ post.date_created }}</b></small></p>
  <div class="usertext-body">
    <p class="border-dark">{{post.text}}</p>
  </div>
</div>

<br />​<hr />​​​​​​​​​​​​​​​​​​​<br />​​​​​


<div>
  <form action="{% url 'subreddits:post_view' post.id %}" method="post">
    {% load widget_tweaks %}
    {% csrf_token %}

    {% for field in form.visible_fields %}
      <div class="form-group">
        
        {% if form.is_bound %}
          {% if field.errors %}
            {% render_field field class="form-control is-invalid" %}
            {% for error in field.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
          {% else %}
            {% render_field field class="form-control bg-white border border-dark text-body" %}
          {% endif %}
        {% else %}
          {% render_field field class="form-control bg-white border border-dark text-body" %}
        {% endif %}

      </div>
    {% endfor %}
    <button class="btn btn-primary mb-5" type="submit">Submit</button>
  </form>
</div>

<div class="row">
  <h5><u>Comments:</u></h5>
  {% for comment in comments %}
  <div class="col-sm-12 mt-3">    
    <div class="card border-left border-info">
      <p class="text-muted"><b style="color: blue">{{ comment.created_by }}</b> | <small>{{ comment.date_created }}</small></p>
      <h6 style="margin: 8px">{{ comment.text }}</h6>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
