{% extends 'base.html' %}

{% load static %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'reddit-clone/css/home.css' %}">
{% endblock  %}
 
{% block content %}
<div class="row">
  <div class="col-sm-12">
    <a href="{% url 'subreddits:subr_view' subr.name %}" class="subr-link"><h1>r/{{ subr.name }}</h1></a>
    <button type="button" class="btn btn-info btn-lg float-right" onclick="location.href='{% url 'subreddits:post_creation_form' subr.url_name %}'">Create Post</button>
  </div>
</div>
<div class="row">
  {% for post in posts %}
  <div class="col-sm-12">
  {% comment %} href CODE PLACER for future Post urls {% endcomment %}
    <a href="{% url 'subreddits:post_view' post.id %}" class="post-link">
      <div class="post-card border-left border-dark bg-light border-3">
        <h3>{{ post.name }}</h3>
        <h6 class="text-muted">Submitted by <b>{{ post.created_by }}</b> on {{ post.date_created }} to <b>r/{{ post.subr.name }}</b></h6>
        <p>{{ post.text }}</p>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
