{% extends 'base.html' %}
 
{% load static %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'reddit-clone/css/home.css' %}">
{% endblock  %}

{% block content %}
  <div class="row">
    {% for post in posts %}
    <div class="col-sm-12 post-col-left-position">
    {% comment %} href CODE PLACER for future Post urls {% endcomment %}
      <a href="{% url 'subreddits:post_view' post.id %}" class="post-link">
        <div class="post-card border-left border-dark bg-white border-3">
          <h3>{{ post.name }}</h3>
          <h6 class="text-muted">Submitted by <b>{{ post.created_by }}</b> on {{ post.date_created }} to <b>r/{{ post.subr.name }}</b></h6>
          <p>{{ post.text }}</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
{% endblock %}
