{% extends 'base.html' %}
 
{% load static %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'subreddits/css/post-view.css' %}">
{% endblock  %}


{% block content %}
<div class="row">
  <div class="col-sm-2 mt-3 mb-3 p-1">
    <a href="{% url 'subreddits:subr_view' post.subr.name %}" class="subr-link"><h1>r/{{ post.subr.name }}</h1></a>
  </div>
  <div class="col-sm-10 mt-3 mb-3"></div>
</div>
<div class="row ">
  <div class="col-sm-1 mb-3 p-1">
    <button id="upvote-button" class="btn ml-5 mb-2 mt-3 btn-outline-secondary" onclick="location.href='{% url 'subreddits:post_view' post.id 'upvote'%}'"><img src="{% static 'subreddits/icon/upvote_empty.png' %}"></button>
    <button id="downvote-button" class="btn ml-5 mb-2 btn-outline-secondary" onclick="location.href='{% url 'subreddits:post_view' post.id 'downvote'%}'"><img src="{% static 'subreddits/icon/downvote_empty.png' %}"></button>
  </div>
  <div class="col-sm-11 mb-3 p-1">  
    <div class="post-heading border-left border-dark bg-white">
      <h3 class="mt-2">"{{post.name}}"</h3>
      <p><small> {{ post.votes_sum }} points | authored by <b style="color: blue">{{post.created_by}}</b> on <b>{{ post.date_created }}</b></small></p>
      <div class="usertext-body">
        <p class="border-dark">{{post.text}}</p>
      </div>
    </div>
  </div>
</div>
<br />​<hr />​​​​​​​​​​​​​​​​​​​<br />​​​​​


<div>
  <form action="{% url 'subreddits:post_view' post.id %}" method="post">
    {% load widget_tweaks %}
    {% csrf_token %}

    {% for field in form.visible_fields %}
      <div class="form-group">
        
        {% if form.is_bound %}
          {% if field.errors %}
            {% render_field field class="form-control is-invalid" %}
            {% for error in field.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
          {% else %}
            {% render_field field class="form-control bg-white border border-dark text-body" %}
          {% endif %}
        {% else %}
          {% render_field field class="form-control bg-white border border-dark text-body" %}
        {% endif %}

      </div>
    {% endfor %}
    <button class="btn btn-primary mb-5" type="submit">Submit</button>
  </form>
</div>

<h5><u>Comments:</u></h5>
<div class="row">
  {% for comment in comments %}
  <div class="col-sm-1 mb-3">
    <button id="upvote-button" class="btn ml-5 mb-1 btn-outline-secondary" onclick="location.href='{% url 'subreddits:post_view' post.id comment.id 'upvote'%}'"><img src="{% static 'subreddits/icon/upvote_empty.png' %}"></button>
    <button id="downvote-button" class="btn ml-5 btn-outline-secondary"onclick="location.href='{% url 'subreddits:post_view' post.id comment.id 'downvote'%}'"><img src="{% static 'subreddits/icon/downvote_empty.png' %}"></button>
  </div>
  <div id="comment-view-{{comment.id}}" class="col-sm-11 mb-3">   
    <div class="card border-left border-info">
      <p class="text-muted"><b style="color: blue">{{ comment.created_by }}</b> | <small>{{ comment.votes_sum }} points | {{ comment.date_created }}</small></p>
      <texarea style="margin: 8px">{{ comment.text }}</texarea>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}